div>*{
	font-size: 18px;
}

i{
	color: orangered;
}

b{
	color: rgb(106, 163, 238);
}

b:first-of-type{
	text-decoration: overline;
}

i:last-of-type{
	text-decoration: line-through;
}

b:nth-of-type(2){
	text-decoration: underline;
}

div :only-of-type{
	text-decoration: overline line-through underline;
}

div :only-child{
	text-decoration: wavy underline orange;
}