.html-css{
	margin: 56px 0;
	gap: 56px;
}
.section{
	text-align: center;
}
.html-css__title{
	font-size: var(--font-size-subtitle);
	font-weight: 100;
}
.html-css__content{
	text-align: left;
}
._html em{
	color: #F16528;
}
._css em{
	color: rgb(41, 101, 241);
}
.html-css__desc{
	margin-top: 28px;
	font-size: var(--font-size-text);
}
.html-css__desc strong{
	font-weight: bold;
}
.html-css__spec{
	margin-top: 25px;
}
.html-css__spec dd{
	font-size: var(--font-size-larger);
	margin-right: 24px;
	color: var(--color-lighter);
}
.html-css__spec dd::before{
	display: inline-block;
	content: '';
	width: 12px;
	height: 6px;
	border-left:4px solid var(--color-sub);
	border-bottom:4px solid var(--color-sub);
	margin-right: 8px;
	transform: rotate(-45deg);
	vertical-align: 0.2em;
}
.html-css__thumb{
	position: relative;
}
.html-css__thumb::after{
	position: absolute;
	content: '';
	left: 0;
	height: 10%;
	background: #000;
	border-radius: 50%;
	animation: logo 800ms;
	animation-timing-function:  ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	/* 애니메이션 움직임의 방향을 순방향을 진행 후 역방향으로 설정합니다.
출처: https://webstoryboy.co.kr/1653 [WEBSTORYBOY:티스토리] */
}
.html-css__logo{
	animation: logo_move;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.html-css._html, .html-css._css{
	display: inline-flex;
	/* inline요소여야지만 로고 크기가 먹힌다. */
}

@keyframes logo{
	from{
		opacity: 0.08;
	}
	to{
		opacity: 0.24;
	}
}
@keyframes logo_move{
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(10px);
	}
}

@media (max-width: 768px) {
	.html-css{
		flex-direction: column;
	}

	.html-css__logo{
		width: 50%;
	}
	#html{
		border-bottom: 4px solid var(--color-light-bg);
	}
	.html-css__content{
		display: inline-block;
		text-align: center;
	}
	.html-css__title {
		display: inline-block;
		text-align: left;
	}
	.html-css__thumb::after{
		left: 25%;
		width: 50%;
		bottom: -16%;
	}
}

@media (min-width: 769px) {
	.html-css__logo{
		width: 144px;
	}
	.html-css{
		display: inline-flex;
	}
	
	#html{
		border-right: 4px solid var(--color-light-bg);
	}
	.html-css__thumb::after{
		width: 144px;
		bottom: -16px;
		left: calc(50% - 72px);
	}
}